src/main/mule/balance-chatbot-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0594e651-c024-4b51-90f0-541046f7e679" >
		<http:listener-connection host="0.0.0.0" port="8081" readTimeout="12300000000000" />
	</http:listener-config>
	<flow name="balance-chatbot-apiFlow" doc:id="f64de7d7-a2a7-4e18-a6fb-1a21b17f8e0c" >
		<http:listener doc:name="Listener" doc:id="d97d83c7-5804-4104-a81c-630d4fcf9683" config-ref="HTTP_Listener_config" path="/fetchbalance"/>
		<logger level="INFO" doc:name="Logger" doc:id="bedcfa72-5f71-4645-bb39-98bbc2701cfb" message='#["flow started"]'/>
		<set-variable value="#[attributes.queryParams.id]" doc:name="Set Variable" doc:id="96f4ff4b-9912-4342-b009-49669ca6cba8" variableName="myValue"/>
		<file:read doc:id="6830af90-5634-4e2c-96e5-e04804341fbb" path="E:\balanceData.json"/>
		<logger level="INFO" doc:name="Logger" doc:id="015d9f7f-dd8e-49de-a566-d4c5b3169cd2" />
		<ee:transform doc:name="Transform Message" doc:id="86d8b0dd-6842-4991-bb73-f12326dd26b3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

{
    "account_details": (payload filter (item)->(item.account_id == vars.myValue))[0] default "record unavaliable"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
