src/main/mule/firstcloudhubproject-ms.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="28512cac-486a-4d65-b960-a0ef315d63ca" >
		<http:listener-connection host="0.0.0.0" port="8081" readTimeout="1230000000000000000" />
	</http:listener-config>
	<flow name="firstcloudhubproject-msFlow" doc:id="a67d64e1-6c92-4512-aa3c-e20903602715" >
		<http:listener doc:name="Listener" doc:id="7dfc99d2-82e4-4871-9703-c9c1305eae6a" config-ref="HTTP_Listener_config" path="/sample"/>
		<logger level="INFO" doc:name="Logger" doc:id="1919685d-6244-4ffe-906b-8cf02d885fa3" message='#["started the flow after deploying"]'/>
		<ee:transform doc:name="Transform Message" doc:id="43584d09-a7c8-4cc7-81fb-421f95feaf80" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"cloudhubRespnse":"welcome to the mule hub",
	
	"a": payload.a + payload.b
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
